<div class="feed-main">

  <uib-tabset active="active">
    <uib-tab index="0" heading="Static title"></uib-tab>
  </uib-tabset>

  <div class="feed-box">
    
  <h4 class="card-title">twitter feed</h4>
  <p class="card-text"></p>

  <form class="form-inline">
    <div class="form-group">
      <label class="sr-only" for="exampleInputEmail3">tweet</label>
      <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Enter tweet" ng-model="tweet">
    <button type="submit" class="btn btn-primary" ng-click="test(tweet)">Tweet</button>
    </div>
  </form>

  <ul class="list-group">
    <li class="list-group-item tweet" ng-repeat ="tweet in tweets">
      <em>
        <span class="handle">{{tweet.user.name}}</span>
      </em>
      <span class="tweet-text">{{tweet.text}}</span>
    </li>
  </ul>
  </div>
 
</div>