body {
  padding:70px 20px 10px 20px;
  background: url('https://images3.alphacoders.com/151/151409.jpg');
  background-repeat: no-repeat;
}
.feed {
/*  position: relative;
  float: right;
  display: inline-block;
  width: 50%;*/
}
.profile {
/*  float:left;
  position: relative;
  width:50%;
*/  /*display: inline-block;*/
}