
<div ng-model="user">
<!-- <img ng-src={{user.twitter.profile_image_url}}> -->
<div class="container">
  
<uib-tabset active="active">
    <uib-tab index="0" heading="targets" ng-click='logger(0)'></uib-tab>
    <uib-tab index="1" heading="messages" ng-click='logger(1)'></uib-tab>
    <uib-tab index="2" heading="hashtags" ng-click='logger(2)'></uib-tab>
</uib-tabset>
<!-- handles -->
<div class="card card-block" ng-show='toggle === 0'>
  <h4 class="card-title">targets</h4>
  <p class="card-text"></p>
<form class="form-inline">
    <div class="form-group">
      <label class="sr-only" for="exampleInputEmail3">handle</label>
      <input class="form-control" id="exampleInputEmail3" placeholder="handle" ng-model=newTarget.handle>
      <input class="form-control" placeholder="interval" ng-model=newTarget.interval></input> 
    <button type="submit" class="btn btn-primary" ng-model="newtarget" ng-click='addTarget(newTarget.handle,newTarget.interval)'>add target</button>
    </div>
  </form>
  <ul class="list-group">
  <li class="list-group-item" ng-repeat="handle in handles">
    <span>{{handle.handle}}</span>
  </li>
</ul>
</div>
<!-- messages -->
<div class="card card-block messages" ng-show='toggle === 1'>
  <h4 class="card-title">messages</h4>
  <p class="card-text"></p>
  <form class="form-inline" ng-model="newMessage">
    <div class="form-group">
      <label class="sr-only" for="exampleInputEmail3">handle</label>
      <input class="form-control" id="exampleInputEmail3" placeholder="message" ng-model=newMessage>
    <button type="submit" class="btn btn-primary" ng-model="newMessage" ng-click='addMessage(newMessage)'>add message</button>
    </div>
  </form>
  
  
  <ul class="list-group">
  <li class="list-group-item" ng-repeat="message in messages">
    <span>{{message.text}}</span>
  </li>
</ul>
</div>
<!-- hashtags -->
<div class="card card-block" ng-show='toggle === 2'>
  <h4 class="card-title">hashtags</h4>
  <p class="card-text"></p>
  <form class="form-inline" ng-model="newHashTag">
    <div class="form-group">
      <label class="sr-only" for="exampleInputEmail3">handle</label>
      <input class="form-control" id="exampleInputEmail3" placeholder="hashTag" ng-model="newHashTag">
    <button type="submit" class="btn btn-primary" ng-model="newHashTag" ng-click='addHashTag(newHashTag)'>add hashtag</button>
    </div>
  </form>
  <ul class="list-group">
  <li class="list-group-item" ng-repeat="hashTag in hashTags">
    <span>{{hashTag.text}}</span>
  </li>
</ul>
  
</div>
</div>